<div class="ticket">
  <h2>
    <%= "#{@tiket.begin_station.title} -
          #{@tiket.end_station.title}" %>
  </h2>
  <div>
    Name: <%= @tiket.name %>
  </div>
  <div>
    Passport: <%= @tiket.passport %>
  </div>
</div>


<%= link_to 'Начало', admin_tikets_path %>
