  <div class="field">
    <%= f.label 'Количество верхних мест'%><br>
    <%= f.number_field :count_up %>
  </div>

  <div class="field">
    <%= f.label 'Количество нижних мест' %><br>
    <%= f.number_field :count_down %>
  </div>

