  <div class="field">
    <%= f.label 'Количество боковых верхних мест' %><br>
    <%= f.number_field :count_side_up %>
  </div>

  <div class="field">
    <%= f.label 'Количество боковых нижних мест' %><br>
    <%= f.number_field :count_side_down %>
  </div>
