<h1>Новый Вагон</h1>

<% if params[:carriage_type] == CarriageType.find(1) %>
  <%= render 'econom_carriage'%>
<% end %>
<p><%= link_to 'Плацкарт', new_train_carriage_path(carriage_type: CarriageType.find(1))
 %></p>


<%= link_to 'Назад', carriages_path %>
