<p>Привет, <%= @user.name %> </p>

<p> Вы купили билет по маршруту: <%=@tiket.route_name %></p>
<p> Посмотреть билет можете по <%= link_to "здеть", @tiket %> </p>
<p> Все свои билеты можно посмотреть <%= link_to "здесь", tikets_url %></p>

