<!DOCTYPE html>
<html>
<head>
  <title>RailBegginer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

 <p>&copy 2016 Denis Bogatyrev  Учебный проект <a href="http://www.thinknetica.com">  в онлайн-школе Thinknetica.</a> </p>
</body>
</html>
